@import '../../../../assets/scss/breakpoints.scss';

.header {
    padding: 2rem;
    height: 100%;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p { margin: 0; }

    &__navigation {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item {
            margin-left: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: $tablet) {
    .header {
        p, span {
            font-size: 1.5rem;
        }

        
    }
}