@import '../../../../assets/scss/breakpoints.scss';

.footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 1.8rem;
        font-weight: 600;
    }
}

@media screen and (max-width: $tablet) {
    .footer {
        p {
            font-size: 1.5rem;
        }
    }
}